BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT

BEGIN TRANSACTION
GO


ALTER TABLE dbo.InternshipPositionGroup ADD
	PositionCreationType int NOT NULL 
	CONSTRAINT DF_InternshipPositionGroup_PositionCreationType 
	DEFAULT 0
GO

ALTER TABLE dbo.InternshipPositionGroup SET (LOCK_ESCALATION = TABLE)
GO


COMMIT
select 
Has_Perms_By_Name(N'dbo.InternshipPositionGroup', 'Object', 'ALTER') as ALT_Per, 
Has_Perms_By_Name(N'dbo.InternshipPositionGroup', 'Object', 'VIEW DEFINITION') as View_def_Per, 
Has_Perms_By_Name(N'dbo.InternshipPositionGroup', 'Object', 'CONTROL') as Contr_Per 