<?xml version="1.0"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="MasterProvider, ProviderUser"/>
            <deny users="*"/>
        </authorization>
    </system.web>

  <location path="ProviderUsers.aspx">
    <system.web>
      <authorization>
        <allow roles="MasterProvider"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>