<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="administrationConfig" type="Imis.Web.Administration.AdministrationConfiguration"/>
    <section name="asyncWorker" type="StudentPractice.Utils.Worker.WorkerConfiguration, StudentPractice.Utils"/>
    <!-- Register the BotDetect configuration section-->
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
    <section name="webServices" type="StudentPractice.Web.Api.ServicesConfigSection"/>
    <section name="serviceQueue" type="StudentPractice.Queue.ServiceQueueConfiguration, StudentPractice.Queue"/>
    <section name="cdnConfig" type="Imis.Web.Utils.Configuration.CdnConfigurationSection"/>
    <!-- DevExpress Controls -->
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <asyncWorker processQueueInterval="30" processQueueOnInitialize="false" machineName="">
    <workerItems>      
    </workerItems>
  </asyncWorker>
  <cdnConfig enabled="false"/>
  <administrationConfig useMembershipConnectionString="true" pageSize="5" virtualPath="imis.axd"/>
  <serviceQueue maxNoOfRetries="10" processQueueInterval="30" processQueueOnInitialize="true"/>
  <appSettings configSource="Web.AppSettings.config"/>
  <botDetect>
    <captchaImage>
      <captchaImageTooltip>
        <!--CAPTCHA Image Custom Universal Tooltip-->
        <localizedString locale="en-GB" value="CAPTCHA (Προηγμένη Οπτική Επιβεβαίωση)"/>
        <localizedString locale="en-US" value="CAPTCHA (Advanced Visual Confirmation)"/>
      </captchaImageTooltip>
    </captchaImage>
    <!-- Captcha sound settings-->
    <captchaSound enabled="false">
      <!-- Custom sound Captcha icon image & titles-->
      <soundIcon>
        <soundIconTooltip>
          <!--Sound Icon Custom Universal Tooltip-->
          <localizedString locale="en-GB" value="Φωνητική Ανάγνωση CAPTCHA (Προηγμένης Οπτικής Επιβεβαίωσης)"/>
          <localizedString locale="en-US" value="Voice Reading CAPTCHA (Advanced Visual Confirmation)"/>
        </soundIconTooltip>
      </soundIcon>
    </captchaSound>
    <!-- Captcha reloading settings-->
    <captchaReloading enabled="true">
      <!-- Custom reload Captcha icon image & titles-->
      <reloadIcon>
        <reloadIconTooltip>
          <!--Reload Icon Custom Universal Tooltip-->
          <localizedString locale="en-GB" value="Αλλαγή εικόνας"/>
          <localizedString locale="en-US" value="Change picture"/>
        </reloadIconTooltip>
      </reloadIcon>
    </captchaReloading>
  </botDetect>
  <connectionStrings configSource="Web.ConnectionStrings.config"/>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <network host="my.mail.com"/>
        <specifiedPickupDirectory pickupDirectoryLocation="C:\testMail"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="5000"/>
    <machineKey validationKey="22660065ADE5FB3E94BD29F34F51D307080E5A0CB86DB0482EAE900F52CC665DD70788F7BE4B1DAEA2AA7C90BFE13C7DBEDCB7AC81F4A45020FE9BFD8F23D876" decryptionKey="C5B152243893249465F88697C57ECF54CFC28B2C43A24105" validation="SHA1" />
    <globalization culture="el-GR" uiCulture="el-GR"/>
    <roleManager enabled="true" defaultProvider="StudentPracticeRoleProvider" cacheRolesInCookie="true" cookieName="studentpracticeroles" cookieProtection="All" createPersistentCookie="true" cookieTimeout="20" cookieSlidingExpiration="true">
      <providers>
        <add name="StudentPracticeRoleProvider" applicationName="StudentPracticeApp" connectionStringName="LocalSqlServer" type="StudentPractice.BusinessModel.StudentPracticeRoleProvider"/>
      </providers>
    </roleManager>
    <membership userIsOnlineTimeWindow="15" defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add applicationName="StudentPracticeapp" name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="false" passwordFormat="Hashed" requiresQuestionAndAnswer="false" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="50"/>
      </providers>
    </membership>
    <customErrors mode="Off" defaultRedirect="~/Common/GeneralError.aspx">
      <error statusCode="404" redirect="~/Common/PageNotFound.aspx"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v12.2.Core, Version=12.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraPrinting.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Utils.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="/Default.aspx" defaultUrl="~/Default.aspx" name="StudentPracticeApp-cookie" path="/" timeout="180"/>
    </authentication>
    <siteMap defaultProvider="Helpdesk">
      <providers>
        <clear/>
        <add name="Helpdesk" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Secure/Helpdesk/helpdesk.sitemap" securityTrimmingEnabled="true"/>
        <add name="Admin" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Secure/Admin/admin.sitemap" securityTrimmingEnabled="true"/>
        <add name="Reports" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Secure/Reports/Reports.sitemap" securityTrimmingEnabled="true"/>
        <add name="SecurePages" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Secure/SecurePages.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <pages styleSheetTheme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces/>
      <controls>
        <add tagPrefix="imis" namespace="Imis.Web.Controls" assembly="Imis.Web.Controls"/>
        <add tagPrefix="lc" namespace="StudentPractice.Portal.Controls" assembly="StudentPractice.Portal"/>
        <add tagPrefix="act" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxEditors" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView.Export" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPopupControl" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTabControl" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxClasses" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxRoundPanel" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPanel" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxUploadControl" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxMenu" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallbackPanel" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallback" assembly="DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="imis.axd" verb="*" type="Imis.Web.Administration.AdministrationHandlerFactory, Imis.Web.Administration"/>
      <!-- Register the HttpHandler used for BotDetect Captcha requests -->
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
      <add verb="GET" path="DX.ashx" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </httpModules>
    <!-- Register a custom SessionIDManager for BotDetect Captcha requests -->
    <sessionState mode="InProc" cookieless="false" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <handlers>
      <!-- Register the HttpHandler used for BotDetect Captcha requests (IIS 7.0+) -->
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <!--<location path="imis.axd">
    <system.web>
      <authorization>
        <allow roles="SystemAdministrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>-->
  <location path="Secure/Reports/InternshipPositions.aspx">
    <system.web>
      <httpRuntime executionTimeout="1800" maxRequestLength="125829120"/>
    </system.web>
  </location>
  <log4net>
    <appender name="NormalLogAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionString value="server=.;database=StudentPractice;Integrated Security=True;"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <commandText value="INSERT INTO Imis_Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message,@exception)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="2000000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%exception"/>
        </layout>
      </parameter>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="studentpractice-exceptions@dblab.ntua.gr"/>
      <from value="studentpractice-exceptions@dblab.ntua.gr"/>
      <subject value="[StudentPractice] Exception"/>
      <smtpHost value="mail.dblab.ntua.gr"/>
      <smtpPort value="25"/>
      <bufferSize value="1"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property] - %newline%message%newline%exception%newline%newline"/>
      </layout>
    </appender>
    <appender name="SmtpPickupDirAppender" type="log4net.Appender.SmtpPickupDirAppender">
      <to value="studentpractice-exceptions@dblab.ntua.gr"/>
      <from value="studentpractice-exceptions@dblab.ntua.gr"/>
      <subject value="[StudentPractice] Exception"/>
      <pickupDir value="C:\testmail"/>
      <bufferSize value="5"/>
      <lossy value="false"/>
      <!--<evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="INFO" />
      </evaluator>-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property] -%newline%message%newline%newline%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="NormalLogAppender"/>
      <appender-ref ref="SmtpPickupDirAppender"/>
    </root>
    <logger name="EntityFramework" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="NormalLogAppender"/>
      <appender-ref ref="SmtpPickupDirAppender"/>
    </logger>
  </log4net>
  <webServices ticketExpiration="2" maximumItemsReturned="200" defaultPhoneNumber="2100000000" typeOfLogging="Full"/>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme=""/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings rightToLeft="false"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>