<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="SystemAdministrator, Helpdesk, SuperHelpdesk, Supervisor"/>
      <deny users="*"/>
    </authorization>
  </system.web>

  <location path="SearchAcademics.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdministrator, SuperHelpdesk"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="TransferPositions.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdministrator, SuperHelpdesk"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="HelpdeskUsers.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdministrator, SuperHelpdesk"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="SearchSupervisorReports.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdministrator, Supervisor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ServiceLogs.aspx">
    <system.web>
      <httpRuntime executionTimeout="600"/>
    </system.web>
  </location>

  <location path="SearchStudents.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdministrator, Helpdesk, SuperHelpdesk, Supervisor, Reports, SuperReports"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="SearchPositions.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdministrator, Helpdesk, SuperHelpdesk, Supervisor, Reports, SuperReports"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ViewPositionDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdministrator, Helpdesk, SuperHelpdesk, Supervisor, Reports, SuperReports"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>